@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR&display=swap');

input:focus {
    outline:none;
}
#wrap{
   
}
.scrollEvent{
    overflow: hidden;
}
/* 헤더 */
#wrap header{
    width: 100%;
   display: flex;
   justify-content: space-around;
   z-index: 100;
   position: absolute; top: 1.5%;
   border-bottom: 1px solid rgba(255,255,255,0.5);
  align-items:center; 
}
#wrap header > a img{
    width: 150px;
    height:auto;
}
#wrap header h1 img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;  
}
#wrap header span{
    position: relative;
    background: #fff;
}
#wrap header span input{
    width:100%;height: 100%;
    background:url('../img/search2.png')no-repeat;
    background-position: right center;
    background-size: 15px;
    border: none;
    vertical-align: top;
    padding-left: 5px;
}


#wrap header nav{
    position: fixed;left: -800px;top:0%;
    height: 100vh;
    background: rgba(255,255,255);
    width: 40vw;
    transition: 1s;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 4%;
    z-index: 999;
}
#wrap header nav.active{
    left:0;
}

nav ul{
    display: flex;
    align-items: baseline;
    
}
nav ul li{
    padding: 20px;
}
nav ul li a{
    font-size: 1.3em;
    color: #999;
    transition: .5s;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif; 
}
nav ul li:first-of-type a{
    font-size: 2em;
    color: #333;
}

nav ul li a:after{
    content: '';
    width: 40px;height: 40px;
    background-color: rgba(95,175,255,0.5);
    position: absolute;left:60%;top: -30%;
    border-radius: 100%;
    z-index: -1;
    transition: .5s;
    transform: scale(0);
    transform-origin: center;
}
nav ul:nth-of-type(2) li a:after{
    background-color: rgba(200,40,50,0.5);
}
nav ul:nth-of-type(3) li a:after{
    background-color: rgba(241, 194, 106, 0.5);;
}
nav ul li:first-of-type a:after{
    content: '';
    background: none;
}
nav ul li a:hover{
    font-weight: bold;
    color: #333;
}
nav ul li a:hover:after{
    transform: scale(1);
}





/* 햄버거메뉴 */
#wrap header .bugger{
    width: 40px;height: 50px;
    position: fixed;left: 30px;top: 30px;
    line-height: 10px;
    cursor: pointer;
    z-index: 999;
}
#wrap header .bugger span{
    width: 100%;height: 3px;
    background-color: #fff;
    transition: .5s;
}
#wrap header .bugger.active span:nth-of-type(1){
    transform: translate(0,400%)rotate(45deg);
}
#wrap header .bugger.active span:nth-of-type(2){
    opacity: 0;
}
#wrap header .bugger.active span:nth-of-type(3){
    transform: translate(0,-300%) rotate(-45deg);
}

#wrap header .bugger.active span{
    background: #000;
}





/* 비쥬얼 */
#wrap .visual{
    width: 100%;
    height: 100vh;
    position: relative;left:0;top: 0;
    background-attachment: fixed;
}
#wrap .visual .figBox{
    width: 100%;
    height: 100%;
    position: relative;left:0;top: 0;
    overflow: hidden;
}
#wrap .visual .figBox figure p::after{
    content: '';
    background-color: rgba(0,0,0,0.3);
    width: 100%;height: 100%;
    position: absolute;left: 0;top: 0;
}
#wrap .visual .figBox figure{
    width: 100%;
    height: 100%;
    position: absolute;left: 0; top: 0;
    transition: .5s;
    opacity: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
#wrap .visual .figBox figure:nth-of-type(1){
    z-index: 1;
}
#wrap .visual .figBox figure p{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-size: cover;
    background-position: center;
}
#wrap .visual .figBox figure:nth-of-type(1) p{
    background-image: url('../img/resghost2.png');
}
#wrap .visual .figBox figure:nth-of-type(2) p{
    background-image: url('../img/mediairon.jpg');
}
#wrap .visual .figBox figure:nth-of-type(3) p{
    background-image: url('../img/mediafinal.jpg');
}
#wrap .visual .figBox figure:nth-of-type(4) p{
    background-image: url('../img/mediaNioh2.jpg');
}


#wrap .visual .figBox figure p video{
    width:100%;height: 100%;
    margin:0;padding:0;
    background: black;
    transform: scale(1.05);
    object-fit: cover;
   
}
#wrap .visual .figBox figure p iframe{
    width:100%;height:100%;
    margin:0;padding:0;
    background: black;
    transform: scale(1.05);
    object-fit: cover;
}

#wrap .visual .figBox figure:nth-of-type(1){
    opacity: 1;
}
#wrap .visual .figBox figure span{
    width: 600px;height: 250px;
    
    z-index: 10;
}
#wrap .visual .figBox figure span img{
    width: 100%;height: 100%;
}
#wrap .visual .figBox figure:nth-of-type(1) span{
    height: 200px;
}
#wrap .visual .figBox figure:nth-of-type(4) span{
    height: 350px;
}
#wrap .visual aside a p.active{
    background-color: #1360a6;
}
#wrap .visual .figBox figure p img{
    width: 100%;
    height: 100%;
}
#wrap .visual .figBox figure figcaption{
    white-space: pre-line; 
    text-align: left;
    max-width: 500px;
    line-height: 40px;
    z-index: 10;
}
#wrap .visual .figBox figure figcaption strong{
    color: #fff;
    font-size: 4vw;
}
#wrap .visual .figBox figure figcaption small{
    color: #fff;
    font-size: 1em;
    font-family: 'Noto Serif KR', serif;
}
#wrap .visual aside{
    position: absolute;left: 5%;bottom: 1%;
    transform: translate(0%,-50%);
    z-index: 5;
    
}
#wrap .visual aside a p{
    width: 15px;height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 100%;
    /* position: absolute;left: 50%;bottom: 3%; */
    transform: translate(-50%,-50%);
    transition: 1s;
    margin: 0 10px;
}
#wrap .visual aside a p:hover{
    background:#1360a6;
}
#wrap .visual .visual_but .btn_css{
    width: 250px;
    height: 60px;
    position: absolute;right: 20%;bottom: 20%;
   overflow: hidden;
   z-index: 1;
}
#wrap .visual .visual_but input{
    width: 100%;height: 100%;
    cursor: pointer;
    text-align: center;
    background:rgba(95,175,255,0.7);
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    border: 0;
}
#wrap .btn_css:after{
    content: '';
    width:10%;
    height: 200%;
    background: #fff;
    position: absolute;left: 0;top: -50%;
    transform: translateX(-100px) rotate(25deg);
    transition:.5s;
    opacity: 0;
}
#wrap .btn_css{
    overflow: hidden;
}
#wrap .btn_css:hover::after{
   transform: translateX(300px) rotate(25deg);
   opacity: 1;
}

#wrap .btn_css{
    overflow:hidden;
}
input{
    cursor: pointer;
}
#wrap .visual .scroll{
  
    position: absolute;left: 50%;bottom: 1%;
    transform: translate(-50%,0%);
    text-align: center;
    z-index:1;
}
#wrap .visual .scroll div{
    position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
#wrap .visual .scroll div p{
    position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	animation: scroll 1.5s linear infinite;
}
#wrap .visual .scroll span{
    font-family: 'Noto Serif KR', serif;
    color: #fff;
    animation: scrollDown 1s linear infinite alternate;
}
@keyframes scroll {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes scrollDown {
    0%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}




/* 컨텐츠 */
#wrap .content h2{
    text-align: center;
    padding-top: 100px;
    font-size: 2em;
    color: #fff;
}
#wrap .content .con_gigi{
    position: relative;left: 0;top: 0;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#wrap .content .con_gigi .wave{
    position: absolute;left: 0%;top: 0%;
    z-index: -1;
    height: 100%;
    width:100%;
    background-image: url('../img/gigiback10.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  transition:.3s;
   transform-origin: center;
    opacity: 0.9;
    
}
#wrap .content .con_gigi p img{
    width: 100%;
    height: 100%;
}
#wrap .content .con_gigi figure{
   display: flex;
   justify-content: center;
   padding-top: 5vw;
  align-items: center;
    flex-grow: 1;
  width: 100%;
  transition: 3s;
  opacity: 0;
  transform:translateY(50%);
}
#wrap .content .con_gigi figure p{
    width: 700px;
}
.con_gigi figure p:nth-of-type(2){
    display: none;
}
#wrap .content .con_gigi figure p img{
    width: 100%;
    height: 100%;
}
#wrap .content .con_gigi figure figcaption{
    max-width: 500px;height: 400px;
    white-space: pre-line;
    position: relative;
    padding:10px;
   
}
#wrap .content .con_gigi figure figcaption strong{
    font-size: 2em;
    color: #fff;
}
#wrap .content .con_gigi figure figcaption small{
    font-size: 16px;
    line-height: 30px;
    color: #eee;
    font-family: 'Noto Serif KR', serif;
}
#wrap .content .con_gigi .btn_css{
    position: absolute;top: 70%;right: 50%;
    transform: translate(50%,0);
    width: 150px;
    height: 40px;
}
#wrap .content .con_gigi figure figcaption input{
    width: 100%;
    height: 100%;
    background: rgba(95,175,255,0.7);
    border: none;
    color: #fff;
    font-weight: bold;
}








/* 게임 */
#wrap .content .con_game{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../img/skyrim.png");
    background-size:cover;
    background-position: center;
    transition: .5s;
   z-index: 0;
   background-attachment: fixed;
   background-position: center;
}
#wrap .content .con_game::after{
    content: '';
    width: 100%;height: 100%;
    position: absolute;left: 0;top: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
#wrap .content .con_game article{
    max-width: 1000px;height: 100%;
    margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
#wrap .content .con_game h4{
    font-size: 2em;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
}
#wrap .content .con_game div{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
#wrap .content .con_game div figure{
    width: 300px; height: 200px;
    background: #000;
    position: relative;
   margin:0 10px 10px 10px;
   border:2px solid #333;
}
#wrap .content .con_game div figure p{
    width:100%;height: 100%;
}
#wrap .content .con_game div figure p img{
    width: 100%;height: 100%;
}
#wrap .content .con_game div figure figcaption{
    color: #fff;
    background: rgba(0,0,0,0.7);
    width: 100%;height: 40%;
    position: absolute;left: 0;bottom:0;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Serif KR', serif;
}
#wrap .content .con_game .btn_css{
    position: absolute;left: 50%;bottom: 10%;
    transform: translate(-50%,0);
    width: 200px;height: 50px;
}
#wrap .content .con_game div input{
    width: 100%;height: 100%;
    background: rgba(95,175,255,0.7);
    color: #fff;
    border:none;
}



/* 예약 */
#wrap .content .con_res{
    width:100%;
    height: 91.2vh;
overflow: hidden;
    position: relative;
z-index: 0;
}
#wrap .content .con_res .res_back{
    width: 100%;height: 100%;
    position: absolute;left: 0; top:0;
    z-index:-1;
    background:#000;
    background-size:cover;
    transition: .5s;
}
#wrap .content .con_res .res_back span{
    width:100%;height:100%;
    position: absolute;top:0;
    transition: .5s;
}

#wrap .content .con_res .res_back span{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#wrap .content .con_res .res_back span:nth-of-type(1){
    background-image: url("../img/lastofus.jpg");
   left: 0;
}
#wrap .content .con_res .res_back span:nth-of-type(2){
    background-image: url("../img/resghostmain.jpg");
    left:100%;
}
#wrap .content .con_res .res_back span:nth-of-type(3){
    background-image: url("../img/iron.jpg");
    left: 100%;
}
#wrap .content .con_res .res_back span img{
    width:100%;height:100%;
}
#wrap .content .con_res::after{
    content:'';
    background:#000;
    position: absolute;left: 0;top:0;
    width: 100%;height: 100%;
    opacity: 0.5;
    z-index: -1;
}
#wrap .content .con_res h5{
    text-align: center;
    font-size: 2em;
    color: #fff;
    padding:50px 0;
}
#wrap .content .con_res > input{
    width: 150px;height: 150px;
    border-radius: 2%;
    position: absolute;right: 7%;top:-20%;
    transition: 1s;
    background-color: rgba(72, 150, 252, 0.9);
    border:none;
    color: #fff;
    font-family: 'Noto Serif KR', serif;
    font-size: 1.5em;
    border-radius: 100%;
    font-weight: bold;
    z-index:10;
    transform: scale(0.85);
}
#wrap .content .con_res > input:hover{
    transform: scale(1);
}
#wrap .content .con_res > input.active{
    top:14%;
}
#wrap .content .con_res > div{
   width:100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap .content .con_res > div input{
    width:70px;
    height: 70px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    background-color: transparent;
    margin:5%;
    opacity: .5;
    
}

#wrap .content .con_res > div input:first-of-type{
   background-image: url('../img/back.png');
   
}
#wrap .content .con_res > div input:last-of-type{
   background-image: url('../img/next.png');

}

#wrap .content .con_res div p{
    max-width: 900px;
    height: 100%;
}
#wrap .content .con_res div p img{
    width: 100%;height: 100%;
}
#wrap .content .con_res p{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap .content .con_res p span{
    width: 300px; height: 200px;
    margin: 30px 20px 0 20px;
}
#wrap .content .con_res p span img{
    width: 100%;height: 100%;
    border: 3px solid #000;
    opacity: .6;
}
#wrap .content .con_res p span:hover img{
    opacity: 1 !important;
}

#wrap .content .con_res p span img.active{
    opacity: 1;
}




/* 푸터 */
#wrap footer{
    width: 100%;
    background: #333;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    opacity: .5;
    transition: 1s;
}
#wrap footer.active{
    opacity: 1;
}
#wrap footer p{
    color: #fff;
    font-size: 0.8em;
}
#wrap footer > span{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#wrap footer span span{
    text-align: left;
    white-space: pre-line;
}
#wrap footer span > img{
    width: 20px;height: 20px;
    transform: translate(0,10%);
}
#wrap footer span span{
    margin-left: 10px;
    color: #fff;
    font-size: 0.5em;
}
#wrap footer a img{
    width: 130px;height: 40px;
    margin-left: 20px;
}


/* 인디케이트 */
#wrap .fix{
    display:block;
    position: fixed;left:50px;top: 50%;
    transform: translate(0,-50%);
    padding: 30px;
    padding-bottom: 0;
    z-index: 10;
}
#wrap .fix div{
    color:#fff;
    font-weight: bold;
    transition: .5s;
}
#wrap .fix p{
    width: 17px;
    height: 17px;
    background:#fff; 
    margin: 20px 0;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    transform: scale(1);
    position: relative;
}
#wrap .fix p:hover{
    transform: scale(1.4);
}
#wrap .fix p.active{
    transform: scale(1.2);
}
#wrap .fix p.active:after{
    content: '';
    display: block;
    width: 100%;height: 100%;
    border-radius: 100%;
    background: rgba(255,255,255,0.7);
    margin: 0 auto;
    transform: scale(1.5);
    animation: fixani 1s forwards;
}
#wrap .fix span{
    position: absolute;left:50%;top: 35%;
    transform: translate(-50%,0);
    width: 2px; height: 120px;
    background: rgba(255,255,255,0.5);
}

@keyframes fixani{
    0%{
    opacity: 0;    
    }
    100%{
        opacity: 1;
    }
}
/* #wrap .fix span{
    position: absolute;left: 47.8%;top: 27%;
    width: 2px;height: 150px;
    background: rgba(255, 255, 255, 0.7);
    transform: translate(-50%,0);
    z-index: -1;
} */
.resactive{
opacity: 1;
}


#wrap .content .con_gigi .mob_gigi{
    display: none;
}
#wrap .content .con_gigi .mob_gigi p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

#wrap .content .con_gigi .mob_gigi input{
    text-align: center;
    display:block;
    margin: 0 auto;
    background: rgb(95,175,255);
    color: #fff;
    font-size: 1vw;
    padding:  5px 10px;
    transform: translateY(100%);
    border: none;
}
#wrap .content .con_top10 .con_top .top_right .mob_top10{
    display: none;
    width: 500px;
    flex-wrap: wrap;
   border: none;
    padding: 0;
    margin: 0 auto;
}

#loading.active{
    display: none;
}
#loading{
    position: fixed;left: 0;top: 0;
    width:100vw;
    height:110vh;
    z-index: 1000;
    display: flex;
}

#loading div{
    position: absolute;
   
}
#loading div:first-of-type{
    left: 0;
    width: 50%;
    height: 100%;
    background:#000;
    animation: load 4s 6s forwards;
}
#loading div:last-of-type{
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    animation: load2 4s 6s forwards;
}
#loading img{
    position: absolute;left:50%;top: 40%;
    transform: translate(-50%,-50%);
    z-index: 10;
    animation: loading 6s forwards;
    width: 50vw;
    
}
@keyframes loading{
    0%{}
    70%{
        opacity: 1;
    }
    100%{opacity: 0;}
}

@keyframes load{
    0%{left: -0;}
    99%{}
    100%{left: -100%;}
}
@keyframes load2{
    0%{right: -0;}
    99%{}
    100%{right: -100%;}
}

