
@media (max-width:1600px){
    .con1 p{
        width: 200px;height: 200px;
        font-size:10px;
    }   
    .con1 p.active{
        width: 250px;height: 250px;;
    }
}


@media (max-width:993px){
    h2,h3,h4,h5,h6{
        font-size: 1.5em;
    }
    .container >figure {
        flex-wrap: wrap;
        font-size: 14px;
    }
    .container >figure figcaption {
        width: 100%;
    }
    .pro figure {
        font-size: 14px;
        flex-wrap: wrap;
    }
    .pro figure figcaption {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
 






    .introduce .figBox figure{
        flex-wrap: wrap;
    }
    .introduce .figBox figure:nth-of-type(1) p{width: 100%;}
    .introduce .figBox figure:nth-of-type(2) p{margin: 0 auto;}
    .introduce .figBox figure:nth-of-type(3) p{width: 100%;}
    .introduce .figBox figure:nth-of-type(4) p{margin: 0 auto;}
    .introduce .figBox figure figcaption{
        width: 100%;
    }

    .introduce .figBox button {
        display: none;
    }

    .intro{display: none;}
    .popCon2 {
        margin-top: 100px;
        display: block;
    }
    
}

@media(max-width:830px){
    .popCon2 figure p{width: 480px;}
    .popCon2 figure figcaption{width:480px;font-size: 12px;}
}



@media (max-width:480px){








    .popCon2 figure p{width: 320px;border-top-left-radius: 50px;
        border-top-right-radius: 50px;}
    .popCon2 figure figcaption{width:320px;font-size: 10px;}


    .introduce .figBox figure figcaption{
        font-size: 12px;
    }
}