@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');
/* font-family: 'Noto Serif KR', serif; */
/* font-family: 'Noto Sans KR', sans-serif;  */

h2,h3,h4,h5{
    font-size: 2em;
    color: #333;
}
img{width: 100%;height: 100%;}
button{
    outline: none;
    cursor: pointer;
}

#wrap header{
    width: 100%;
   display: flex;
   justify-content: space-around;
   z-index: 10;
   position: absolute; top: 1.5%;
   border-bottom: 1px solid rgba(255,255,255,0.5);
  align-items:center;
  
}
#wrap header > a img{
    width: 150px;
    height: auto;
}
#wrap header h1 img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;  
}
#wrap header span{
    position: relative;
    background: #fff;
    
}
#wrap header span input{
    /* padding-left: 5px;
    width: 200px;
    height: 30px;
    background:url('../img/search2.png')no-repeat;
    background-position: right bottom;
    background-size: 22px; */
    width:100%;height: 100%;
    background:url('../img/search2.png')no-repeat;
    background-position: right center;
    background-size: 15px;
    border: none;
    vertical-align: top;
    padding-left: 5px;
}
header nav{
    position: fixed;left: -800px;top:0%;
    height: 100vh;
    background: rgba(255,255,255);
    width: 40vw;
    transition: 1s;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 4%;
    z-index: 998;
}
header nav.active{
left:0;
}

nav ul{
    display: flex;
    align-items: baseline;
    
}
nav ul li{
    padding: 20px;
}
nav ul li a{
    font-size: 1.3em;
    color: #999;
    transition: .5s;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif; 
}
nav ul li:first-of-type a{
    font-size: 2em;
    color: #333;
}

nav ul li a:after{
    content: '';
    width: 40px;height: 40px;
    background-color: rgba(95,175,255,0.5);
    position: absolute;left:60%;top: -30%;
    border-radius: 100%;
    z-index: -1;
    transition: .5s;
    transform: scale(0);
    transform-origin: center;
}
nav ul:nth-of-type(2) li a:after{
    background-color: rgba(200,40,50,0.5);
}
nav ul:nth-of-type(3) li a:after{
    background-color: rgba(241, 194, 106, 0.5);;
}
nav ul li:first-of-type a:after{
    content: '';
    background: none;
}
nav ul li a:hover{
    font-weight: bold;
    color: #333;
}
nav ul li a:hover:after{
    transform: scale(1);
}





/* 햄버거메뉴 */
#wrap header .bugger{
    width: 40px;height: 50px;
    position: fixed;left: 4%;top: 3%;
    line-height: 10px;
    cursor: pointer;
    z-index: 999;
}
#wrap header .bugger span{
    width: 100%;height: 3px;
    background-color: #fff;
    transition: .5s;
}
#wrap header .bugger.active span:nth-of-type(1){
    transform: translate(0,400%)rotate(45deg);
}
#wrap header .bugger.active span:nth-of-type(2){
    opacity: 0;
}
#wrap header .bugger.active span:nth-of-type(3){
    transform: translate(0,-300%) rotate(-45deg);
}
#wrap header .bugger.active2 span{
    background-color: rgba(95,175,255,1);
}

#wrap header .bugger.active span{
    background-color: #000;
}





/* 비쥬얼 */
#wrap .visual{
    width: 100%;
    height: 60vh;
    position: relative;
}
#wrap > .visual > p{
    width: 100%;height: 100%;
    background-color: #000;
    background-size: cover;
    background-position: center;
    position: relative;
   
}
#wrap > .visual > p:after{
    content: '';
    position: absolute;left: 0;top: 0;
    width: 100%;height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#wrap .visual p video{
    width: 100%;height: 100%;
    object-fit: cover;
}
#wrap .visual figure{
    position: absolute;left: 50%;top: 60%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    transition: 1s;
}
#wrap .visual figure p{
    transition: 1s;
}

.visual figure p:first-of-type{
    transform: translateX(50%) translateY(5%);
    opacity: 0;
    width: 550px;
}
.visual figure p:last-of-type{
    transform: translate(-90%);
    width: 350px;
    margin-left:5%;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap .visual figure p.active{
   transform: translateX(0);
    opacity: 1;
}
#wrap .visual figure p:first-of-type.active{
    transform: translateX(0) translateY(5%);
}

#wrap .visual figure p img{
    width: 100%;height: 100%;
}




.container{
    margin-top: 150px;
}
.container h2{
    text-align: center;
}



.con1,.con2,.con3,.con4{
    position: relative;
    overflow: hidden;
}
.con1 div,.con2 div,.con3 div,.con4 div{
    width: 100%;
    height: 700px;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.con1 div:after,.con2 div:after,.con3 div:after,.con4 div:after,.con4 div:before{
    content: '';
    width: 100%;height: 100%;
    position: absolute;left: 0;top: 0;
}


.con1{
    margin-top: 100px;
}

.con1 div{
  background-image: url('../img/subPro/con3.jpg');
}

.con1 div:after,.con3 div:after{
    background: linear-gradient( to right, transparent  , #000  );
}
.con2 div:after,.con4 div:after{
    background: linear-gradient( to left, transparent , #000  );
}
.con4 div::before{
    background: linear-gradient( to bottom, transparent 40%, #000  );
}



.textBox{
    width: 400px;height: 200px;
    white-space: pre-line;
    position: absolute;top: 30%;
    transform: translateY(50%);
    padding: 10px;
    opacity: 0;
    transition: .5s;
}
.textBox.active{
    opacity: 1;
    transform: translateY(0%);
}
.con1 .textBox,.con3 .textBox{
    right:20%;
}
.con2 .textBox,.con4 .textBox{
    left: 20%;
}


.textBox span{
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.textBox span:nth-of-type(1){
    font-size: 2em;
    padding-bottom: 15px;
}
.textBox span:nth-of-type(2){
    font-size: 1.2em;
    color: antiquewhite;
}

.con2{
    position: relative;
    overflow: hidden;

}
.con2 div{
  background-image: url('../img/subPro/con7.jpg');
}

.con3 div{
  background-image: url('../img/subPro/witcher1.png');
}

.con4 div{
  background-image: url('../img/subPro/netflix2.jpg');
}




.game{

}
.game .link{
    width: 100%;
    height: 500px;
    background-color: #000;
   
}
.game >p{
    text-align: center;
    color: rgb(143, 169, 255);
    transform: translateY(-250%);
    font-size: 1em;
}
.game h5{
    text-align:center;
    transform: translateY(-120%);

}
.game .figBox{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
  
   justify-content: center;
   align-items: center;

}
.game .figBox figure{
    width: 45%;
    margin: 5px;
    position: relative;
    transition: .4s;
    cursor: pointer;
    
}
.game .figBox figure:nth-of-type(3),.game .figBox figure:nth-of-type(4),.game .figBox figure:nth-of-type(5){
    width: 29.8%
}
.game .figBox figure:nth-of-type(6){
    width: 100%;
}
.game .figBox figure:nth-of-type(6) p{
  height: 800px;
}
.game .figBox figure p{
    width: 100%;height: auto;
    position: relative;
}

.game .figBox figure p:after{
    content: '';
    width: 100%;height: 100%;
    position: absolute;left: 0;top: 0;
    background: linear-gradient( to bottom, transparent 50% , #000  );
   transition: .5s;
}

.game .figBox figure:hover{
    transform: translateY(-2%);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,.5);
   
}
.game .figBox figure:last-of-type:hover{
    transform: translateY(0%);
}
.game .figBox figure:hover figcaption{
    opacity: 1;
}
.game .figBox figure figcaption{
    color: #fff;
    background: #000;
    text-align:center;
    width: 100%;
    font-size: 1.5em;
    padding: 10px 0;
    transition: .5s;
    opacity: 0;
    position: absolute;bottom: 4%;left: 50%;
    transform: translateX(-50%);
    
}
.game .figBox figure figcaption strong{
    font-size:1.5rem;
    color: #fff;
}
.game .figBox figure figcaption small{
    font-size: 1rem;
    color: antiquewhite
}













.detail{
    margin-top: 100px;
}
.detail h4{
    text-align:center;
}


.detail .detailBox{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1000px;
    margin: 100px auto;
}
.detail .detailBox div{
    width: 200px;height: 220px;
    border: 1px solid #ddd;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    transition: .5s;
}

.detail .detailBox div span{
    width: 150px;
    transition: .5s;
}
.detail .detailBox div strong{
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1em;
    padding-bottom: 10px;
}
.detail .detailBox div p{
    color: #999;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: .9em;
    text-align: center;
    display: none;
}

.detail .detailBox div:hover{
    box-shadow: 5px 5px 5px 5px rgba(95,175,255,.2);
    border: 1px solid transparent;
}
.detail .detailBox div:hover span{
    width: 100px;
}


.last{
   position: relative;
    padding: 100px 0;
}
.last div{
    background-image: url('../img/subPro/320750.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;height: 100%;
    position: absolute;left: 0;top:0;
    z-index: -1;
}
.last div::after{
    content: '';
    position: absolute;
    width: 100%;height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.last figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
  
}
.last figure p{
    width: 500px;
}
.last figure p img{}
.last figure figcaption{
    width: 700px;
    font-size: 1.3em;
    color: #fff;
    margin: 0 10px;
   
    
}
.last figure figcaption span{
    font-size: .7em;
    color: #999;
    padding: 10px 0;
    color: antiquewhite;
}








#wrap footer{
    height: 100px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;

}
#wrap footer p{
    color: #999;
}