@media (max-width:1600px){
    nav ul li{
        font-size: 14px;
    }





}
@media (max-width:1350px){
    nav ul li{
        padding: 10px;
    }
}


@media (max-width:1200px){
    #wrap header > a{
        display: none;
    }
    #wrap header h1 a img{
        margin-bottom: 5px;
    }
    #wrap header .bugger{
        left: 15px;top:10px;
        width: 30px;height: 30px;
    }
    #wrap header nav{
        width:40vw;
        z-index:20;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }

    .game .figBox figure:nth-of-type(6) p{
        height: auto;
    }

}

@media (max-width:993px){
    h2,h3,h4,h5,h6{
        font-size: 1.5em;
    }
    .game >p{
        font-size: .8em;
    }

    #wrap .visual figure p:first-of-type{
        display: none;
    }
    #wrap .visual figure p:last-of-type{
        margin-left: 0;
    }
    #wrap .visual .scroll{
        display: block;
    }
    #wrap .visual figure{
        top: 50%;
    }
   

    .game .figBox figure{
        width: 45%;
    }
    .game .figBox figure:nth-of-type(3),.game .figBox figure:nth-of-type(4),.game .figBox figure:nth-of-type(5),.game .figBox figure:nth-of-type(6){
        width: 45%;
    }
    .game .figBox figure figcaption{
        font-size: 1em;
    }
    .game .figBox figure figcaption strong{
        font-size: 1em;
    }
    .game .figBox figure figcaption small{
        display: none;
    }
    
}

@media (max-width:600px){
    #wrap header{
        justify-content: center;
    }
    #wrap header h1 a img {
        width: 200px;height: auto;
    }
    #wrap header span input{
        display: none;
    }
    #wrap .visual figure p:last-of-type{
        width: 300px;
        font-size: 1.5em;
    }


    .textBox{
        position: static;
        transform: translateY(0);
        width: 100%;
    }
    .textBox span:nth-of-type(1){
        color: #333;
        font-size: 1.5em;
    }
    .textBox span:nth-of-type(2){
        color: #333;
        font-size: 1em;
    }
    .con1 div,.con2 div,.con3 div,.con4 div{
        height: 300px;
    }
    .con1 div:after,.con2 div:after,.con3 div:after,.con4 div:after,.con4 div:before{
        display: none;
    }
    .game .link{
        display: none;
    }

    .game >p{
        transform: translateY(0);
    }
    .game h5{
        transform: translateY(0);
        margin-bottom: 20px;
    }
}


@media (max-width:480px){
    .game >p{
        font-size: .5em;
    }
    nav ul li{
        font-size: 10px;
        padding: 3px;
    }
    #wrap .visual figure p:last-of-type{
        width: 70vw;
    }
    .visual .scroll div{
        width: 30px;
        height: 45px;
        margin: 0 auto 10px auto;
    }


    .detail .detailBox div{
        width: 150px;
        margin:5px;
    }
    .detail .detailBox div span{
        width: 100px;

    }
    
    .game .figBox figure figcaption{
        font-size: .7em;
    }
    .game .figBox figure figcaption strong{
        font-size: .7em;
    }
}