@media (max-width:1600px){
    nav ul li{
        font-size: 14px;
    }
}
@media (max-width:1350px){
    nav ul li{
        padding: 10px;
    }
}

@media (max-width:1200px){
    #wrap header > a{
        display: none;
    }
    #wrap header h1 a img{
        margin-bottom: 5px;
    }
    #wrap header .bugger{
        left: 15px;top:10px;
        width: 30px;height: 30px;
    }
    #wrap header nav{
        width:40vw;
        z-index:20;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }


    #wrap .visual{
        height: 100vh;
    }
    #wrap .visual figure {
        top: 50%;
    }
    #wrap .visual figure figcaption{
        transform: translateX(0);
    }
    #wrap .visual figure p{display: none;}
    #wrap .visual .scroll{
        display: block;
    }
    #wrap .visual figure figcaption strong{
        font-size: 3em;
    }
   
    .specTxt{width: 90%;}
    .specTxt p{width: 50%;}

}

@media(max-width:993px){
    h2,h3,h4,h5,h6{
        font-size: 1.5em;
    }
}

@media (max-width:600px){
    #wrap header{
        justify-content: center;
    }
    #wrap header h1 a img {
        width: 200px;height: auto;
    }
    #wrap header span input{
        display: none;
    }


    #wrap .visual figure figcaption{
        /* line-height: 50px; */
    }
    #wrap .visual figure figcaption strong{
        font-size: 10vw;
    }

}

@media (max-width:480px){
    nav ul li{
        font-size: 10px;
        padding: 3px;
    }
    .specTxt{font-size: 10px;}
    .specTxt p {
        font-size: 1em;
        height: 50px;
    }
}